#search {
  height: 55px;
  font-size: 14px;
  display: inline-block;
  font-family: "Open Sans";
  font-weight: 400;
  border: none;
  outline: none;
  color: #616668;
  padding: 3px;
  padding-right: 60px;
  width: 0px;
  position: absolute;
  background: none;
  z-index: 3;
  top: 0;
  cursor: pointer;
  left: 245px;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
}

#search:focus:hover {
  border-bottom: 1px solid #616668;
}

#search:focus {
  width: 245px;
  z-index: 1;
  border-bottom: 1px solid #616668;
  cursor: text;
  text-align: right;
  padding-right: 0px;
  padding-top: 20px;
}
#search_submit {
  height: 70px;
  width: 60px;
  display: inline-block;
  float: right;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
  background-size: 25px 25px;
  text-indent: 10000px;
  border: none;
  position: absolute;
  cursor: pointer;
  opacity: 0.8;
  cursor: pointer;
  top: 0;
  left: 230px;
  z-index: 2;
  transition: opacity .4s ease;
}
#search_submit:hover {
  opacity: 0.8;
}
